@use '../utils' as *;

/*=============================
    Blog
===============================*/
.blog__post-meta  {
    .list-wrap {
        display: flex;
        align-items: center;
        gap: 15px 10px;
        flex-wrap: wrap;
        li {
            display: flex;
            align-items: center;
            line-height: 1;
            gap: 10px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            position: relative;
            &:after {
                content: '';
                position: relative;
                height: 15px;
                width: 1px;
                background: rgba($color: #ffffff, $alpha: 0.2);
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            a {
                color: var(--tg-color-dark);
                &:hover {
                    background: var(--tg-color-dark);
                    color: var(--tg-color-white-default);
                }
            }
        }
    }    
}

/*blog item one*****************/
.blog__post-item {
    .blog__post-meta {
        margin-bottom: 20px;
        margin-left: -30px;
        .list-wrap {
            position: relative;
            &:before {
                content: '';
                position: relative;
                width: 50px;
                height: 2px;
                background: var(--tg-theme-primary);
                display: inline-block;
            }
            li {
                a {
                    color: var(--tg-color-white-default);
                    &:hover {
                        color: var(--tg-theme-primary);
                    }
                }
            }
        }
    }
    .blog__post-thumb {
        padding: 30px 0 0 30px;
        position: relative;
        a {
            display: block;
            transition: 0.4s;
            overflow: hidden;
        }
        img {
            transition: 0.4s;
            height: 350px;
            min-width: 380px;
            width: 100%;
            object-fit: cover;
        }
    }
    .blog__post-date {
        background: var(--tg-theme-primary);
        position: absolute;
        top: 0;
        left: 0;
        font-size: 30px;
        font-family: var(--tg-heading-font-family);
        text-align: center;
        display: block;
        box-shadow: 0px 30px 60px rgba(69, 248, 130, 0.2);
        width: 100px;
        height: 100px;
        line-height: 88px;
        span {
            display: block;
            font-size: 14px;
            font-weight: 400;
            font-family: var(--tg-body-font-family);
            text-transform: uppercase;
            line-height: normal;
            margin-top: -25px;
        }
    }
    .blog__post-content {
        margin-top: 40px;
        padding: 0 0 0 30px;
    }
    .blog__post-bottom {
        margin-bottom: -0.3em;
    }
    .title {
        font-size: 30px;
        text-transform: uppercase;
        line-height: 1.428;
        font-weight: 400;
        margin-bottom: 26px;
        a {
            color: var(--tg-color-white-default);
            background-image: linear-gradient(to left, var(--tg-theme-primary), var(--tg-theme-primary));
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 0 2px;
            transition: 1.2s;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
    .link-btn {
        gap: 10px;
        color: var(--tg-theme-primary);
        &:after,
        &:before {
            height: 1px;
        }
        &:hover {
            i.fa-arrow-right {
                transform: rotate(-45deg);
            }
        }
    }
    &:hover {
        .blog__post-thumb {
            a {
                filter: grayscale(0);
            }
            img {
                transform: scale(1.05);
            }
        }
    }
    @media #{$lg} {
        .blog__post-thumb {
            padding: 20px 0 0 20px;
        }
        .blog__post-content {
            padding: 0 0 0 20px;
        }
        .blog__post-meta {
            margin-left: -20px;
        }
        .title {
            font-size: 24px;
        }
    }
    @media #{$xs} {
        .blog__post-thumb {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

/*blog item two*****************/
.blog__post-item-two {
    .blog__post-thumb {
        overflow: hidden;
        margin-bottom: 50px;
        img {
            width: 100%;
            transition: 0.4s;
        }
    }
    .blog__post-content {
        margin-top: 0px;
        display: flex;
        gap: 50px;
        .blog__post-date {
            color: rgba($color: #ffffff, $alpha: 0.5);
            font-size: 16px;
            font-family: var(--tg-body-font-family);
            line-height: normal;
            span {
                display: block;
                font-size: 60px;
                font-weight: 400;
                font-family: var(--tg-heading-font-family);
                color: var(--tg-theme-primary);
                margin-top: -0.3em;     
                @media #{$lg} {
                    font-size: 50px;
                }
            }
        }
        .title {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 14px;
            margin-top: -0.2em;
            line-height: 1.333;
            text-transform: uppercase;
            @media #{$lg} {
                font-size: 24px;
            }
            @media #{$md} {
                font-size: 30px;
            }
            a {
                color: var(--tg-color-white-default);
                background-image: linear-gradient(to left, var(--tg-theme-primary), var(--tg-theme-primary));
                background-repeat: no-repeat;
                background-position: bottom left;
                background-size: 0 1px;
                transition: 1.2s;
                &:hover {
                    background-size: 100% 1px;
                    color: var(--tg-theme-primary);
                }
            }
        }
        .blog__post-meta .list-wrap li a {
            color: var(--tg-theme-primary);
            &:hover {
                color: var(--tg-color-white-default);
            }
        }
    }
    &:hover {
        .blog__post-thumb {
            img {
                transform: scale(1.05);
            }
        }
    }
    @media #{$xs} {
        .blog__post-thumb {
            margin-bottom: 30px;
        }
        .blog__post-content {
            display: block;
            .blog__post-date {
                margin-bottom: 20px;
                span {
                    font-size: 40px;
                }
            }
            .title {
                font-size: 24px;
            }
        }
    }
    @media #{$sm} {
        .blog__post-content {
            display: flex;
            .blog__post-date {
                margin-bottom: 0;
            }
        }
    }
}
.blog__post-list {
    border-left: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    padding-left: 50px;
    margin-left: 20px;
    .blog__post-item-two {
        &:not(:last-child) {
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
    }
    @media #{$md} {
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
        border-top: 1px solid rgba($color: #ffffff, $alpha: 0.1);
        padding-top: 30px;
    }
}


/*Blog Details Area*****************/
.blog__details-wrap {
    padding-right: 60px;
    @media #{$lg} {
        padding-right: 0;
    }
}
.blog__details-thumb {
    margin-bottom: 52px;
    position: relative;
    @media #{$xs} {
        .blog__details-thumb {
            margin-bottom: 30px;
        }
    }
    img {
        min-height: 250px;
        object-fit: cover;
    }
    .blog__post-meta {
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--tg-color-white-default);
        padding: 22px 20px;  
        .list-wrap {
            gap: 20px 30px;
        }     
        li {
            font-size: 16px;
            gap: 10px;
            color: var(--tg-color-dark);
            opacity: 0.5;
            transition: 0.4s;
            a {
                border: 0;
                padding: 0;
                background: transparent;
                &:hover {
                    background: transparent;
                    color: var(--tg-color-dark);
                }
            }
            &:hover {
                opacity: 1;
            }
        }
        @media #{$xs} {
            position: initial;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
    }
}
.blog__details-inner-wrap {
    margin: 30px 0 25px;
    .col-54 {
        width: 54%;
        flex: 0 0 auto;
        @media #{$xs} {
            width: 100%;
        }
    }
    .col-46 {
        width: 46%;
        flex: 0 0 auto;
        @media #{$xs} {
            width: 100%;
        }
    }
    .content {
        @media #{$xs} {
            margin-bottom: 40px;
        }
        p {
            margin-bottom: 20px;
            width: 80%;
        }
        .list-wrap li {
            display: flex;
            font-size: 22px;
            font-weight: 600;
            align-items: center;
            line-height: 1;
            font-family: var(--tg-heading-font-family);
            color: var(--tg-heading-color);
            gap: 10px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            i {
                width: 26px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                background: var(--tg-theme-primary);
                color: var(--tg-color-white-default);
                border-radius: 50%;
                font-size: 13px;
            }
        }
    }
}
blockquote {
    background: var(--tg-color-black-3);
    padding: 60px;
    position: relative;
    z-index: 1;
    margin: 40px 0;
    text-align: center;
    @media #{$xs} {
        padding: 30px;
    }
    @media #{$sm} {
        padding: 40px;
    }
    // &::after {
    //     content: "";
    //     font-weight: 700;
    //     font-size: 52px;
    //     color: var(--tg-theme-primary);
    //     line-height: 1;
    //     font-family: var(--tg-icon-font-family);
    //     background-image: url(../img/icon/svg-img/quote-left2.svg);
    //     position: absolute;
    //     width: 46px;
    //     height: 40px;
    //     background-size: cover;
    //     filter: grayscale(2) brightness(0);
    //     left: 47px;
    //     top: 34px;
    //     z-index: -1;
    //     @media #{$xs} {
    //         left: 30px;
    //         top: 30px;
    //     }
    // }
    .quote-icon {
        position: relative;
        display: inline-flex;
        gap: 10px;
        transition: 0.4s;
        margin-bottom: 35px;
        &:before,
        &:after {
            content: '';
            position: relative;
            display: inline-block;
            width: 15px;
            height: 30px;
            background: var(--tg-theme-primary);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15px);
        }
    }
    p {
        margin-bottom: 0;
        font-size: 26px;
        font-weight: 400;
        font-style: normal;
        font-family: var(--tg-heading-font-family);
        color: var(--tg-color-white-default);
        line-height: 1.384;
        &::first-letter {
            padding-left: 28px;
            @media #{$xs} {
                padding-left: 50px;
            }
        }
        @media #{$lg} {
            font-size: 20px;
        }
    }
    .blockquote-card_author {
        display: inline-flex;
        margin-top: 40px;
        align-items: center;
        gap: 20px;
        .blockquote-card_thumb {
            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .media-body {
            text-align: left;
        }
        .blockquote-card_title {
            font-size: 24px;
            font-weight: 400;
            color: var(--tg-color-white-default);
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        .blockquote-card_desig {
            font-size: 14px;
            font-weight: 400;
            color: var(--tg-theme-primary);
            text-transform: uppercase;
            font-family: var(--tg-body-font-family);
            display: flex;
        }
    }
}
.blog__details-content-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 55px 0 60px;
    .post-tags {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        .title {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 0;
            line-height: 1;
        }
        .list-wrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            li a {
                font-size: 16px;
                font-weight: 400;
                color: var(--tg-heading-color);
                background: #EEEFF3;
                border-radius: 0px;
                padding: 10px 20px;
                display: block;
                line-height: 1;
                &:hover {
                    background: var(--tg-theme-primary);
                }
            }
        }
    }
    .blog-post-share {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-end;
        @media #{$lg} {
            justify-content: flex-start;
            margin-top: 20px;
        }
        .title {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 0;
            line-height: 1;
        }
        .list-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            li {
                line-height: 1;
                a {
                    font-size: 18px;
                }
            }
        }
    }
}
.inner__page-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border-top: 1px solid var(--tg-theme-primary);
    padding-top: 30px;
    margin-top: 60px;
    .text-wrap {
        color: var(--tg-color-white-default);
        font-size: 18px;
        font-weight: 400;
        font-family: var(--tg-heading-font-family);
        text-transform: uppercase;
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        transition: 0.4s;
        .thumb {
            overflow: hidden;
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        &:hover {
            color: var(--tg-theme-primary);
        }
    }
}
.blog-sidebar {
    position: sticky;
    top: 140px;
    @media #{$md} {
        padding-right: 0;
        border-right: none;
        margin-right: 0;
        margin-top: 100px;
    }
}  
.blog-widget {
    margin-bottom: 60px;
    border-top: 1px solid var(--tg-theme-primary);
    padding-top: 15px;
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
  
.widget-title {
    margin-bottom: 35px;
    line-height: 1;
    font-size: 30px;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--tg-color-white-default);
    @media #{$lg} {
        font-size: 24px;
    }
}
.sidebar-search-form {
    form {
        position: relative;
    }
    input {
        background: var(--tg-color-black-3);
        width: 100%;
        border: 0;
        padding: 13px 20px 13px 50px;
        color: var(--tg-color-white-default);
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        border-radius: 0px;
        height: 60px;
        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: rgba($color: #ffffff, $alpha: 0.3);
        }
    }
    button {
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        padding: 0;
        font-size: 16px;
        line-height: 0;
        color: var(--tg-theme-primary);
    }
}  
.sidebar-cat-list {
    .list-wrap  {
        li {
            line-height: 1.4;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: var(--tg-color-white-default);
                font-size: 14px;
                font-weight: 400;
                font-family: var(--tg-heading-font-family);
                text-transform: uppercase;
                display: flex;
                @media #{$lg} {
                    font-size: 16px;
                }
                span {
                    margin-left: auto;
                }
                &:hover {
                    color: var(--tg-theme-primary);
                }
            }
        }
    }
}
.sidebar-insta-feed-list {
    .list-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .insta-thumb {
        overflow: hidden;
        position: relative;
        border-radius: 0px;
        width: 80px;
        height: 80px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:after {
            content: '';
            background-color: var(--tg-heading-color);
            opacity: 0.8;
            position: absolute;
            inset: 5px;
            transform: scaleX(0);
            border-radius: inherit;
            -webkit-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out;
        }
        .icon-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--tg-color-white-default);
            visibility: hidden;
            opacity: 0;
            transform: translate(-50%, -40%);
            background: transparent;
            z-index: 1;
        }
        &:hover {
            &:after {
                transform: scaleX(1);
            }
            .icon-btn {
                transform: translate(-50%, -50%);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.sidebar-tag-list {
    .list-wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        @media #{$lg} {
            gap: 12px;
        }
        li a {
            font-size: 20px;
            font-weight: 400;
            color: var(--tg-color-dark);
            background: transparent;
            border-radius: 0px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            display: block;
            line-height: 1;
            padding: 14px 20px;
            letter-spacing: -0.015em;
            opacity: 0.8;
            @media #{$lg} {
                font-size: 16px;
            }
            &:hover {
                background: var(--tg-theme-primary);
                border-color: var(--tg-theme-primary);
                color: var(--tg-color-dark);
                opacity: 1;
            }
        }
    }
}
.rc-post-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .thumb {
        width: 80px;
        flex: 0 0 auto;
        background: var(--tg-color-black-2);
        img {
            border-radius: 0px;
        }
    }
    .content {
        .title {
            margin-top: 12px;
            font-size: 14px;
            font-weight: 400;
            font-family: var(--tg-heading-font-family);
            color: var(--tg-color-white-default);
            line-height: 1.75em;
            text-transform: uppercase;
            margin-bottom: -0.5em;
            @media #{$lg} {
                font-size: 14px;
            }
        }
        .date {
            display: flex;
            align-items: center;
            line-height: 1;
            font-size: 12px;
            font-weight: 400;
            gap: 5px;
            color: rgba($color: #ffffff, $alpha: 0.4);
            text-transform: uppercase;
            i {
                color: var(--tg-theme-primary);
            }
        }
        .price {
            display: flex;
            align-items: center;
            line-height: 1;
            font-size: 14px;
            font-weight: 600;
            gap: 5px;
            color: var(--tg-theme-primary);
            text-transform: uppercase;
        }
    }
}
.project-info-list {
    li {
        font-size: 18px;
        color: rgba($color: #ffffff, $alpha: 0.7);
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        strong {
            font-weight: 400;
            color: var(--tg-color-white-default);
        }
        @media #{$lg} {
            font-size: 14px;
        }
    }
}
/*comment area*************/
.comment-reply-title,
.comments-wrap-title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.16);
}  
.latest-comments {
    margin-bottom: 60px;
    .list-wrap {
        > li:first-child {
            > .comments-box {
                border-top: 0;
                padding-top: 0;
                margin-top: 0;
            }
        }
    }
}
.comments-box {
    display: flex;
    align-items: flex-start;
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.16);
    padding-top: 40px;
    margin-top: 50px;
    gap: 30px;
    @media #{$xs} {
        display: block;
    }
    @media #{$sm} {
        display: flex;
    }
}
.children {
    padding-left: 110px;
    @media #{$xs} {
        padding-left: 60px;
    }
}
.comments-avatar {
    width: 80px;
    flex: 0 0 auto;
    @media #{$xs} {
        margin-bottom: 20px;
    }
    @media #{$sm} {
        margin-bottom: 0px;
    }
}
.comments-text {
    margin-top: -0.15em;
    .avatar-name {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        text-transform: uppercase;
        .name {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            color: var(--tg-color-white-default);
        }
        .date {
            text-transform: uppercase;
            font-family: var(--tg-heading-font-family);
            font-size: 14px;
            font-weight: 400;
        }
    }
    p {
        color: var(--tg-color-white-default);
        font-size: 14px;
        opacity: 0.7;
        margin-bottom: 18px;
    }
    .reply-btn {
        font-family: var(--tg-heading-font-family);
        color: var(--tg-theme-primary);
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        .icon-btn {
            border-radius: 0;
            border: 1px solid rgba(228, 228, 228, 0.1);
            width: 30px;
            height: 30px;
            line-height: 28px;
            background: rgba($color: #ffffff, $alpha: 0.1);
            color: var(--tg-theme-primary);
        }
        &:hover {
            color: var(--tg-color-white-default);
            .icon-btn {
                background: var(--tg-theme-primary);
                color: var(--tg-heading-color);
            }
        }
    }
}

.rating-select p.stars {
    margin-bottom: 0;
    line-height: 1;

    a {
        position: relative;
        height: 14px;
        width: 18px;
        text-indent: -999em;
        display: inline-block;
        text-decoration: none;
    }

    a::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 14px;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        content: "\f005";
        font-weight: 700;
        text-indent: 0;
        color: rgba($color: #ffffff, $alpha: 0.16);
    }
    
    a:hover ~ a::before {
        color: rgba($color: #ffffff, $alpha: 0.16);
    }
    
    &:hover a::before {
        color: var(--tg-theme-primary);
    }

    &.selected a.active::before {
        color: var(--tg-theme-primary);
    }

    &.selected a.active ~ a::before {
        color: rgba($color: #ffffff, $alpha: 0.16);
    }
    
    &.selected a:not(.active)::before {
        color: var(--tg-theme-primary);
    }
}
.comment-respond {
    position: relative;
    .rating-select {
        position: absolute;
        top: 5px;
        right: 0;
        @media #{$vxs} {
            position: initial;
            margin-bottom: 30px;
        }
    }
}
.comment-form {
    .comment-notes {
        margin-bottom: 40px;
    }
}