@use '../utils' as *;

/*=============================
    FAQ 01
===============================*/
.accordion-card {
    transition: 0.3s;
    overflow: hidden;
    background: transparent;
    border-radius: 0px;
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    &:not(:last-child) {
        margin-bottom: 25px;
    }
    .accordion-button {
        font-size: 20px;
        font-weight: 400;
        font-family: var(--tg-heading-font-family);
        color: var(--tg-color-white-default);
        border: 0;
        background-color: transparent;
        text-align: left;
        transition: 0.3s;
        box-shadow: none;
        padding: 0px 45px 12px 0;
        text-transform: uppercase;
        line-height: 1.3;
        @media #{$xs} {
            font-size: 18px;
            padding: 0 45px 10px 0;
        }
        &:after {
            content: "\f107";
            height: 30px;
            width: auto;
            background: transparent;
            border: 0;
            font-family: 'Font Awesome 5 Free';
            color: var(--tg-color-white-default);
            font-weight: 900;
            font-size: 24px;
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            line-height: normal;
            top: -5px;
            right: 2px;
            transition: 0.3s ease-in-out;
            @media #{$xs} {
                font-size: 20px;
                right: 1px;
            }
        }
        &:not(.collapsed)::after {
            color: var(--tg-theme-primary);
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .accordion-collapse {
        border: none;
        position: relative;
    }
    .accordion-body {
        border-radius: 0;
        background-color: transparent;
        border: none;
        padding: 7px 0 5px 0;      
        p {
            font-weight: 400;
            font-size: 18px;
            margin: 0;
            opacity: 0.7;
            color: var(--tg-color-white-default);
            @media #{$xs} {
                font-size: 16px;
            }
        }
    }
    &:has(.accordion-collapse.show) {
        border-color: var(--tg-theme-primary);
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.faq-thumb1-1 {
    position: relative;
    .about-tag {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        background: var(--tg-color-dark);
        border-radius: 50%;
    }
    .img1 {
        img {
            width: 100%;
        }
    }
    @media #{$xl} {
        .about-tag {
            right: 50%;
        }
    }
}