@use '../utils' as *;

/*=============================
    Instagram 01
===============================*/
.instagram-card {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        background: var(--tg-theme-primary);
        opacity: 0;
        transition: 0.4s;
    }
    .instagram-thumb {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .instagram-card-details {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        z-index: 1;
        opacity: 0;
    }
    .icon-btn {
        background: transparent;
        border-radius: 0;
        font-size: 20px;
        &:hover {
            color: var(--tg-heading-color);
            font-size: 30px;
        }
    }
    &:hover {
        &:after {
            opacity: 0.9;
        }
        .instagram-card-details {
            top: 50%;
            opacity: 1;
        }
    }
}