@use '../utils' as *;

/*=============================
    Service 01
===============================*/
.service-card-wrap {
    background: rgba($color: #ffffff, $alpha: 0.05);
    padding: 0;
    &:nth-child(2) {
        background: rgba($color: #ffffff, $alpha: 0.1);
    }
    &:nth-child(3) {
        background: rgba($color: #ffffff, $alpha: 0.15);
    }
}
.service-card {
    position: relative;
    z-index: 1;
    padding: 100px;
    .box-icon {
        color: var(--tg-theme-primary);
        margin-bottom: 108px;
        transition: 0.4s;
        display: inline-block;
    }
    .box-title {
        font-size: 70px;
        font-weight: 400;
        margin-bottom: 30px;
        a {
            color: transparent;
            -webkit-text-stroke: 1px var(--tg-color-white-default);
        }
    }
    .box-text {
        font-size: 18px;
        color: var(--tg-color-white-2);
        margin-bottom: 40px;
    }
    .link-btn {
        display: flex;
        justify-content: space-between;
        &:after,
        &:before {
            height: 1px;
            background: var(--tg-heading-color);
        }
    }
    &:hover {
        .box-icon {
            transform: rotateY(180deg);
        }
        .box-title {
            a {
                color: var(--tg-color-white-default);
                -webkit-text-stroke: 0px var(--tg-color-white-default);
            }
        }
    }
    @media #{$xxl} {
        padding: 70px;
    }
    @media #{$xl} {
        padding: 70px;
        .box-title {
            font-size: 54px;
        }
        .box-icon {
            margin-bottom: 60px;
        }
    }
    @media #{$ml} {
        padding: 70px;
        .box-icon {
            margin-bottom: 40px;
        }
        .box-text {
            margin-bottom: 30px;
        }
    }
    @media (max-width: 1200px) {
        padding: 50px;
        .box-text {
            font-size: 16px;
        }
    }
    @media #{$lg} {
        .box-title {
            font-size: 45px;
        }
    }
    @media #{$xs} {
        .box-title {
            font-size: 30px;
        }
    }
    @media #{$sm} {
        .box-title {
            font-size: 40px;
        }
    }
    @media #{$vxs} {
        padding: 30px;
        .box-text {
            margin-bottom: 20px;
        }
    }
}

/*=============================
    Service 03
===============================*/
.service-bg-shape3-1 {
    position: absolute;
    left: 5%;
    top: 40%;
}
.service-bg-shape3-2 {
    position: absolute;
    right: 3%;
    top: 15%;
}
.service-list-wrap3 {
    margin: 0;
    padding: 0;
    list-style: none;
    .single-service-list {
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 20px;
        &:not(:last-child) {
            margin-bottom: 50px;
            @media #{$xs} {
                margin-bottom: 30px;
            }
            @media #{$sm} {
                margin-bottom: 40px;
            }
        }
        .service-list-number {
            font-size: 20px;
            font-weight: 400;
            font-family: var(--tg-heading-font-family);
            color: rgba($color: #ffffff, $alpha: 0.4);
            margin-bottom: 0;
            transition: 0.4s;
            line-height: 1;
            @media #{$xs} {
                font-size: 16px;
            }
        }
        .title {
            color: var(--tg-color-white-default);
            font-size: 120px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1;
            transition: 0.4s;
            margin-bottom: -0.07em;
            margin-top: -0.05em;
            @media #{$xl} {
                font-size: 100px;
            }
            @media #{$lg} {
                font-size: 80px;
            }
            @media #{$md} {
                font-size: 60px;
            }
            @media #{$xs} {
                font-size: 30px;
            }
            @media #{$sm} {
                font-size: 40px;
            }
        }
        &:hover {
            .service-list-number {
                color: var(--tg-color-white-default);
            }
            .title {
                color: transparent;
                a {
                    color: transparent;
                    -webkit-text-stroke: 1px var(--tg-theme-primary);
                }
            }
        }
        @media #{$xs} {
            gap: 15px;
        }
    }
}


/*service details page**********************/
.page-title {
    font-size: 50px;
}