@use '../utils' as *;

/*=============================
	02. Button style
===============================*/
.tg-button-wrap {
    @include flexbox();
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 30px;
    &.g-0 {
        gap: 0;
    }
}
.btn {
    user-select: none;
    -moz-user-select: none;
    background: var(--tg-theme-primary) none repeat scroll 0 0;
    border: medium none;
    @include border-radius(0px);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    padding: 23px 30px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    @include transition(.3s);
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: var(--tg-body-font-family);
    gap: 10px;
    color: var(--tg-color-dark);
    box-shadow: 0px 30px 60px rgba(69, 248, 130, 0.3);
    --arrow-hover-move-x: -110%;
    &::after {
        content: '';
        position: absolute;
        inset: 2px;
        background: var(--tg-theme-primary);
        border: 1px solid var(--tg-color-dark);
        z-index: -1;
        transition: 0.4s;
    }
    span {
        position: absolute;
        background: var(--tg-color-dark);
        display: inline-block;
        transition: height 0.5s ease-out, left 0.3s ease-out;
        &.line1 {
            height: 13px;
            width: 2px;
            top: 2px;
            left: 0;
        }
        &.line2 {
            height: 13px;
            width: 2px;
            bottom: 2px;
            right: 0;
        }
        &.line3 {
            height: 2px;
            width: 18px;
            top: 0px;
            right: 2px;
            transition: width 0.5s ease-out, left 0.3s ease-out;
        }
        &.line4 {
            height: 2px;
            width: 18px;
            bottom: 0px;
            left: 2px;
            transition: width 0.5s ease-out, left 0.3s ease-out;
        }
    }
    & svg {
        @include transform(translateY(-2.5px));
        & path {
            transition: transform .38s cubic-bezier(.37, .08, .02, .93), opacity .18s ease-out;
            &:nth-of-type(1) {
                transform: translateX(0);
                opacity: 1;
                transition-delay: .15s, .15s;
            }
            &:nth-of-type(2) {
                transform: translateX(calc(1 * var(--arrow-hover-move-x)));
                opacity: .5;
                transition-delay: 0s, 0s;
            }
        }
    }
    &:active,
    &:focus,
    &:hover,
    &:focus-visible {
        background: var(--tg-color-white-default);
        background-color: var(--tg-color-white-default) !important;
        box-shadow: 0px 30px 60px rgba(255, 255, 255, 0.3);
        span {
            height: 0px;
            &.line3,
            &.line4 {
                height: 2px;
                width: 0px;
            }
        }
        &:after {
            background: var(--tg-color-white-default);
        }
        & svg {
            & path {
                &:nth-of-type(1) {
                    transform: translateX(calc(-1 * var(--arrow-hover-move-x)));
                    opacity: 0;
                    transition-delay: 0s, 0s;
                }
                &:nth-of-type(2) {
                    transform: translateX(0) translateY(0);
                    opacity: 1;
                    transition-delay: .15s, .15s;
                }
            }
        }
    }
    &-two {
        padding: 23px 60px;
        @media #{$lg} {
            padding: 23px 35px;
        }
    }
    &-three {
        &:before {
            background: var(--tg-heading-color);
        }
        &:active,
        &:focus,
        &:hover {
            color: var(--tg-color-white-default);
            &:before {
                background: var(--tg-heading-color);
            }
        }
    }
    &-four {
        background: rgba($color: #ffffff, $alpha: 0.1);
        color: var(--tg-color-white-default);
        padding: 22px 40px 20px;
        font-size: 18px;        
        @media #{$xs} {
            padding: 18px 30px 16px;
        }
        &:active,
        &:focus,
        &:hover {
            background: rgba($color: #ffffff, $alpha: 0.1);
        }
    }
    &-five {
        background: var(--tg-theme-primary);
        color: var(--tg-color-white-default);
        padding: 22px 40px 20px;
        font-size: 18px;    
        &:before {
            background: var(--tg-heading-color);
        }  
        &:active,
        &:focus,  
        &:hover {
            color: var(--tg-color-white-default) !important;
        }
        @media #{$xs} {
            padding: 18px 30px 16px;
        }
    }
    &-six {
        background: var(--tg-theme-primary);
        color: var(--tg-color-white-default);
        padding: 22px 40px 20px;
        font-size: 18px;    
        &:before {
            background: var(--tg-color-white-default);
        }  
        &:active,
        &:focus,  
        &:hover {
            color: var(--tg-heading-color) !important;
        }
        @media #{$xs} {
            padding: 18px 30px 16px;
        }
    }
    &.square-btn {
        border-radius: 0;
        padding: 23px 40px 21px;
        @media #{$xs} {
            padding: 18px 30px 16px;
        }
    }
    &.border-btn {
        border: 1px solid var(--tg-theme-primary);
        background: transparent;
        color: var(--tg-theme-primary);
        &:active,
        &:focus,
        &:hover {
            background: transparent;
            border-color: var(--tg-theme-primary);
            color: var(--tg-color-dark);
            &::before {
                background: var(--tg-theme-primary);
            }
        }
    }
    &.border-white {
        color: var(--tg-color-white-default);
        border: 1px solid var(--tg-color-white-default);
        background: transparent;
        &:active,
        &:focus,
        &:hover {
            color: var(--tg-color-dark);
            &::before {
                background: var(--tg-color-white-default);
            }
        }
    }
    &.border-dark {
        font-size: 18px;
        border-radius: 0;
        line-height: 1.77777;
        border: 1px solid var(--tg-color-dark);
        background: transparent;
        &:active,
        &:focus,
        &:hover {
            background: transparent;
            border: 1px solid var(--tg-theme-primary) !important;
            &:before {
                background: var(--tg-theme-primary);
            }
        }
    }
    &.border-dark2 {
        font-size: 18px;
        border-radius: 0;
        line-height: 1;
        padding: 21px 40px 19px;
        border: 1px solid var(--tg-color-dark);
        background: transparent;
        &:active,
        &:focus,
        &:hover {
            background: transparent;
            border: 1px solid var(--tg-theme-primary) !important;
            &:before {
                background: var(--tg-theme-primary);
            }
        }
    }
    &.border-dark3 {
        font-size: 18px;
        line-height: 1.77777;
        border: 1px solid var(--tg-color-dark);
        background: transparent;
        &:active,
        &:focus,
        &:hover {
            background: transparent;
            border: 1px solid var(--tg-color-dark) !important;
            color: var(--tg-color-white-default);
            &:before {
                background: var(--tg-color-dark);
            }
        }
    }
    &.border-dark4 {
        font-size: 18px;
        border-radius: 0;
        line-height: 1;
        padding: 21px 40px 19px;
        border: 1px solid var(--tg-color-dark);
        background: transparent;
        &:active,
        &:focus,
        &:hover {
            background: transparent;
            border: 1px solid var(--tg-theme-primary) !important;
            color: var(--tg-color-white-default);
            &:before {
                background: var(--tg-theme-primary);
            }
        }
    }
    &.btn-dark {
        background: var(--tg-color-dark);
        color: var(--tg-theme-primary);
        box-shadow: none;
        &:after {
            display: none;
        }
        &:focus,
        &:active,
        &:hover {
            background-color: var(--tg-theme-primary) !important;
            color: var(--tg-heading-color);
        }
    }
    &.btn-font2 {
        font-family: var(--tg-heading2-font-family);
        font-size: 18px;
    }
}

.link-btn {
    font-size: 14px;
    font-weight: 600;
    font-family: var(--tg-body-font-family);
    line-height: 0.8;
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 0px;
    color: var(--tg-color-white-default);
    display: inline-flex;
    gap: 25px;
    text-decoration: none;
    transition: 0.4s;
    i {
        font-size: 12px;
        transition: 0.4s;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background: currentColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform 0.4s cubic-bezier(0.74, 0.72, 0.27, 0.24);
    }
    &:hover {
        color: var(--tg-theme-primary);
        &:before {
            transform-origin: left top;
            transform: scale(1, 1);
        }
        i.icon-arrow-top-left {
            transform: rotate(45deg) translate(-2px, 2px);
        }
    } 
    
    &.text-white {
        &::before,
        &::after {
            background: var(--tg-color-white-default);
        }
    } 
}
.link-btn2 {
    font-size: 14px;
    font-weight: 600;
    color: var(--tg-color-white-default);
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    &::after,
    &::before {
        content: '';
        position: relative;
        width: 30px;
        height: 2px;
        background: var(--tg-theme-primary);
        display: inline-block;
        transition: 0.4s;
    }
    &::after {
        width: 0;
    }
    &:hover {
        &::before {
            width: 0;
        }
        &::after {
            width: 30px;
        }
    }
}
.icon-btn {
    height: 60px;
    width: 60px;
    padding: 0;
    display: inline-block;
    background: var(--tg-color-white-default);
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: var(--tg-heading-color);
    transition: 0.4s;
    font-size: 12px;
    &.btn-five,
    &.btn-four,
    &.btn-three,
    &.btn-two {
        height: 60px;
        width: 60px;
        color: var(--tg-color-white-default);
        &:hover {
            color: var(--tg-heading-color);
        }
        @media #{$xs} {
            height: 52px;
            width: 52px;
        }
    }
    &.btn-three {
        &:hover {
            color: var(--tg-color-white-default);
        }
    }
    &.btn-five {
        &:before {
            background: var(--tg-color-white-default);
        }
        &:focus,
        &:active,
        &:hover {
            color: var(--tg-theme-primary) !important;
        }
    }
}
.btn-with-icon {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    &:hover {
        .icon-btn {
            background: var(--tg-theme-primary);
        }
        .link-btn {
            color: var(--tg-theme-primary);
            &:before {
                transform-origin: left top;
                transform: scale(1, 1);
            }
        }
    }
    &.style2 {
        &:hover {
            .btn {
                color: var(--tg-color-white-default);
            }
        }
    }
    &.style3 {
        &:hover {
            .btn {
                color: var(--tg-theme-primary);
            }
        }
    }
}